:root {
  --background-base: #1d2236;
  --background-highlight: #151926;
  --background-grid-color: #252c45;

  --element-background: #ffcf5420;
  --element-border-hover-select: #ffcf54;

  --text-color-main: #fff;
  --text-color-highlight: #ffcf54;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/Roboto_Mono/RobotoMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-base);
}
body::-webkit-scrollbar {
  display: none;
}

span {
  color: --text-color-highlight;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
